<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
  name="description"
  content="Learning Types is a resources developed to create and share a typology of learning to aid the design and development of engaging learning experiences."
  />
	<meta property="og:title" content="Learning Types by Tim Klapdor" />
 	<meta property="og:image" content="https://learning-types.com/images/learning-types-poster.jpg" />
  <meta property="og:image:url" content="https://learning-types.com/images/learning-types-poster.jpg" />

  <link rel="stylesheet" href="{{ 'css/style.css' | url }}" />

  <link rel="icon" type="image/svg+xml" href="{{'/images/favicon.svg' | url }}">
  <link rel="icon" type="image/png" href="{{'/images/favicon.png' | url }}">

  <title>{{ title}}</title>
</head>
<body>
  {{ content | safe }}

  <footer>
    <p>© Tim Klapdor 2024</p>
    <p>Site licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a></p>
    <p>Version 1.0</p>
</footer>

</body>
</html>