:root { 
    --shade-900:#282726;
    --shade-800:#403E3C;
    --shade-700:#575653;
    --shade-600:#6F6E69;
    --shade-500:#878580;
    --shade-300:#B7B5AC;
    --shade-200:#CECDC3;
    --shade-150:#DAD8CE;
    --shade-100:#E6E4D9;
    --shade-50:#F2F0E5;

    --rev: #ffffff;
    --blk: #100F0F;
    --page-light: #E9E9E9;
    --page-dark: #1C1B1A;

    --p10-1: hsl(189, 100%, 47%);
    --p10-2: hsl(355, 100%, 67%);
    --p10-3: hsl(33, 100%, 50%);
    --p10-4: hsl(40, 100%, 62%);
    --p10-5: hsl(100, 39%, 57%);
    --p10-6: hsl(167, 100%, 35%);
    --p10-7: hsl(278, 97%, 71%);

    --p10-1-juicy: hsl(195, 100%, 46%);
    --p10-2-juicy: hsl(358, 100%, 59%);
    --p10-3-juicy: hsl(19, 100%, 50%);
    --p10-4-juicy: hsl(34, 100%, 56%);
    --p10-5-juicy: hsl(110, 50%, 41%);
    --p10-6-juicy: hsl(153, 100%, 25.5%);
    --p10-7-juicy: hsl(276, 95%, 60%);

    --primary: #16db65;
    --secondary: #023047;
    --accent: #850485;

    --wheel-overlay-1: #ca00f8;
    --wheel-overlay-2: red;
    --wheel-overlay-3: #ff6800;
    --wheel-overlay-4: #84a800;
    --wheel-overlay-5: #009d00;
    --wheel-overlay-6: #009682;
    --wheel-overlay-7: #0088f1;

}