.pattern-grid {
    grid-column: 2;
    // display: grid;
    // grid-template-columns: repeat(7, 1fr);
    // grid-auto-rows: minmax(max-content, 2fr);
    // min-height: 100vh;
    // min-width: 100vw;



    header {
        width: 100%;
        height: 15ch;
        grid-column: 1 / span 3;
        svg {
            height: 15ch;
        }
    }

    .tagline {
        h1 {
            font-size: clamp(7rem,-0.875rem + 8.333vw,15rem);
            line-height: 1;
            margin: 0;
            letter-spacing: -.04ch;
        }

        p {
            font-size: clamp(1.5rem,-0.875rem + 8.333vw,2rem);
            font-weight: 300;
            max-inline-size: 50ch
        }
    }

    .business-card {
        max-width: 70vw;
        margin: 5em 0 5em 0;
        // border: 1px solid var(--blk);
        border-radius: .5ch;
        aspect-ratio: 9 / 5;
        padding: 3ch;
        rotate: -3deg;
        transition: all 250ms ;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);;

        &:hover {
            scale: 120%;
            rotate: 3deg;
            box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);;
        }
    }


    section {
        grid-column: auto / span 7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto max-content;
        align-content: center;
        min-width: 100%;
        min-height: 80vh;
        margin: 0;

        & > * {grid-column: 2 / span 3;}

        svg {
            width: 100%;
            height: 100%;
        }


    }
    .p10-1 {background-color: var(--p10-1-juicy);}
    .p10-2 {background-color: var(--p10-2-juicy);}
    .p10-3 {background-color: var(--p10-3-juicy);}
    .p10-4 {background-color: var(--p10-4-juicy);}
    .p10-5 {background-color: var(--p10-5-juicy);}
    .p10-6 {background-color: var(--p10-6-juicy);}
    .p10-7 {background-color: var(--p10-7-juicy);}
    .p10-page-light {background-color: var(--page-light);}
    .p10-page-dark {background-color: var(--page-dark);}
    

    .col-p10-1 {color: var(--p10-1-juicy);}
    .col-p10-2 {color: var(--p10-2-juicy);}
    .col-p10-3 {color: var(--p10-3-juicy);}
    .col-p10-4 {color: var(--p10-4-juicy);}
    .col-p10-5 {color: var(--p10-5-juicy);}
    .col-p10-6 {color: var(--p10-6-juicy);}
    .col-p10-7 {color: var(--p10-7-juicy);}
    .col-rev {color: var(--rev);}
    .col-blk {color: var(--blk);}

    .full {
        grid-column: 1 / span 5;
        padding: 1ch;
    }

    svg.icon {
        fill: currentColor;
    }

    .width-100 {
       & > * {
            width: 100%;
        }
    }

    .center {
        text-align: center;
    }
    
    ul.boxes {
       
        list-style: none;
        padding: 0;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // grid-template-rows: repeat(auto-fit, minmax(5em, 1fr));
        // gap: 1ch;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2ch;
        justify-content: space-evenly;

        li {
            padding: 2ch;
            // border: 1px solid var(--blk);
            width: 20%;
            height: 15ch;
            align-content: center;
            border-radius: 1ch;
            background-color: color-mix(in srgb, var(--p10-3-juicy) 100%, var(--blk) 10%);

            &:hover {
                background-color: color-mix(in srgb, var(--p10-3-juicy) 100%, var(--blk) 30%);
            }
        }
    }

}